/* .container strong {
  font-size: 20px;
  line-height: 26px;
} */

/* .container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
} */

/* .container a {
  text-decoration: none;
} */



.container h1 {

  color: black;
  font-size: 34px;


}

.welcome {
  display: flex;
  color: red;
  /* right: 30%; */
  /* right: "20%"; */
  flex-direction: column;
  margin-right: "20%";
  justify-content: center;
  margin-left: 22px;
  margin-top: 50px;
  /* font-size: 40px; */
}

.welcome h4 {
  font-size: 40px;
}

.welcome h2 {
  font-size: 40px;
  font-weight: bold;
  margin-left: -4px;
}

.account {
  display: flex;
  left: "20%";
  /* color: red; */
  /* justify-content: center; */
  margin-top: 20;
  margin-left: 22px;
  font-size: 40px;
  font-weight: bold;
}

.account h3 {
  font-size: 30px;
  /* font-weight: bold; */
}

.Edit {
  margin-left: 100px;
  padding-left: 100px;


}

.other h1 {
  display: flex;
  left: "20%";
  /* color: red; */
  /* justify-content: center; */
  margin-top: 20;
  margin-left: 22px;
  font-size: 30px;
  /* font-weight: bold; */
  color: black;
  margin-top: 100px;
}


.other h2 {
  margin-left: 100px;
  padding-left: 100px;


}

.createOutline {
  display: flex;
  margin-left: 50px;
  /* flex-direction: row; */
}

.h1 {

  margin-top: 4px;
  /* font-size: 27px; */
  color: black;
}

.createOutlinee {
  display: flex;
  flex-direction: row;
}